<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReportGeneratorUI.Properties.Settings.ProductsDatabase"
            connectionString="Data Source=Database\ProductsDB.db;" />
    </connectionStrings>
</configuration>